:root{
    --primary-pink:#E53151;
    --primary-blue:#0054D1;
    --primary-gray:#D2D6E3;
    --type-color:#818CB3;
    --blue-text:#151F54;
    --dark-text:#181738;
    --footer-text:#504F7E;
    --white-text:#FFFFFF;
    --black-text:#000000;
    --feedback-text:#D2D6E3;
    --bg-color:#181738;
    --footer-bg:#2A294B;
    --footer-info-bg:#E2E5EF;
    --footer-link:#7A809F;
}