@import "colors.css";
@import "fonts.css";

*{margin: 0;padding: 0;}
body{background-color: var(--bg-color);}
ul{list-style: none;}
a{text-decoration: none;}
.title{
    font-family: "TTFirs-Regular";
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-text);
    margin-bottom: 61px;
}
.main-block{
    height: 100vh;
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-body, .menu, .filter, .solutions{display: flex; align-items: center; justify-content: space-between;}
.header{margin-left: 68px; margin-bottom: 185px;}
.header-body{height: 126px;}
.logos img{height: 60px;}
.agency-mos{margin-left: 40px;}
.link-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.tasks{
    padding: 55px 27px;
    background-color: var(--primary-gray);
    color:var(--blue-text);
}
.personal{
    padding: 55px 49px;
    background-color: var(--primary-pink);
    color: var(--white-text);
}
ul.ssubmenuu {
    position: absolute;
    width: 126px;
    top: 126px;
    right:0px;    display: none;
    background-color: #B1B6C9;
    text-align: center;
    width: 208px;
}
ul.ssubmenuu li{
    padding-top: 15px;
    padding-bottom: 15px;
}
ul.ssubmenuu li a{color: var(--black-text);}
ul.ssubmenuu li:hover{
    background-color: var(--primary-pink);
    cursor:pointer;
}
.menu li:hover ul.ssubmenuu {display: block;}
.container{margin-left: 68px; margin-right: 68px;}
.main-title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-text);
    max-width: 480px;
    margin-bottom: 20px;
}
.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    color: var(--white-text);
    max-width: 600px;
    margin-bottom: 130px;
}
.add-solution, .open-research{
    color: #E6E9F3;
    font-family: "TTFirs-Medium";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.add-solution{
    padding: 28px;
    background-color: var(--primary-pink);
    margin-right: 30px;
}
.open-research{
    padding: 28px 88px;
    background-color: var(--primary-blue);
}
.filter{
    max-width: 832px;
    background-color: var(--primary-gray);
    border-radius: 7px;
    padding: 20px 57px;
    margin-bottom: 40px;
}
.filter-item{display: flex; align-items: center;}
.filter-name{
    font-family: "TTFirs-Bold";
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-text);
    margin-left: 14px;
}
.solutions{ flex-wrap: wrap;}
.solution_item{
    padding: 45px 37px;
    width: 32%;
    background-color: #fff;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    margin-right: 32px;
    margin-bottom: 32px;
}
.solution_item:hover{
    background-color: var(--primary-gray);
    cursor: pointer;
}
.solution_item:hover .add_btn{background-color: var(--primary-gray);}
.solution_item:last-child, .solution_item:nth-child(3){margin-right: 0;}
.logo_item{margin-bottom: 35px;}
.date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--type-color);
    margin-bottom: 5px;
}
.title_item{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
    color: var(--dark-text);
    margin-bottom: 15px;
}
.description_item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-text);
    margin-bottom: 30px;
}
.type_item{
    padding: 4px 8px;
    background-color: var(--type-color);
    color: var(--white-text);
    font-family: "TTFirs-Medium";
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 15px;
    border-radius: 3px;
    width: fit-content;
}
.add_btn{
    font-family: "TTFirs-Medium";
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--black-text);
    border: 1px solid var(--primary-pink);
    margin-top: 21px;
    padding: 17px 20px;
}
.more{
    font-family: "TTFirs-Bold";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--primary-pink);
    margin-top: 50px;
    margin-bottom: 100px;
}
.about{margin-top: 100px;}
.title-feedback{
    font-family: "TTFirs-Medium";
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-gray);
    width: 380px;
}
.customers, .companies, .slide, .faq-block, .news, .footer{display: flex !important;}
.customers, .companies{
    padding-top: 35px; padding-bottom: 50px; 
    border-top: 1px solid #40405D; border-bottom: 1px solid #40405D;
    justify-content: space-between;
}
.rev_slider, .faq_list, .news_list{width: 80%;}
.slide{margin-bottom: 30px;}
.avatar{border-radius: 7px; margin-right: 23px;}
.name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-text);
    margin-bottom: 12px;
}
.organization{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: var(--type-color);
    margin-bottom: 19px;
}
.text-back{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-text);
    margin-bottom: 10px;
}
.slick-dots{text-align: left;}
.slick-dots li button::before{font-size: 15px; color: var(--type-color);}
.slick-dots li.slick-active button::before{color: var(--primary-pink);}
.slick-prev, .slick-next{display: none !important;}
.faq, .media_about_us{margin-top: 100px;}
.faq-block, .news{justify-content: space-between;}
.faq_img, .news_icon{height: 200px;}
.hide,
.faq_item div {   display: none;}
.faq-name {
    font-family: TTFirs-Medium;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 30px;
    padding-bottom: 36px;
    color: var(--primary-gray);
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.faq_item{   border-bottom: 1px solid #75768D;}
.hide:checked + label + div {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: var(--type-color);
    display: block; 
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 45px;
}
.hide + .faq-name::before {
    content: url("../img/arrow_bottom.svg");
    display: block;
    float: right;
    margin: 3px 5px;
}
.hide:checked + label:before {
    content: url("../img/arrow_top.svg");;
}
.media_about_us{margin-bottom: 100px;}
.news-title{
    font-family: "TTFirs-Bold";
    font-size: 32px;
    line-height: 120%;
    color: var(--primary-gray);
    margin-bottom: 25px;
}
.news-descript{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: var(--type-color);
    margin-bottom: 25px;
}
.go-btn{
    font-family: TTFirs-Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: var(--primary-pink);
    margin-bottom: 25px;
}
.news_item{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(226,229,239,0.20);
}
.first, .about_link{    margin-top: 41px;}
.contact{
    width: 33vw;
    display: grid;
    /*padding: 41px 104px 50px 68px;*/
    background-color: var(--footer-bg);
}
.footer_logo{margin-bottom: 39px; margin-left: 68px;}
.email, .phone, .adress{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: var(--primary-gray);
    margin-bottom: 15px;
    margin-left: 57px;
}
.copyright{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #73758D;
    margin-left: 68px;
    margin-bottom: 50px;
}
.footer_info{
   /* padding: 36px 68px 56px 57px;*/
    display: flex;
    justify-content: space-between;
    background-color: var(--footer-info-bg);
}
.about_link{position: absolute;}
.footer_menu{width: 33vw;}
.footer_form{
    display: grid;
   width: 33vw;
}
.footer_link, .form-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #504F7E;
    margin-bottom: 10px;
    margin-left: 57px;
    margin-top: 41px;
}
.footer_item_link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #504F7E;
    margin-bottom: 5px;
    margin-left: 57px;
}
.footer_list{margin-bottom: 35px; margin-top: 75px;}
.input_email, .submit, .policy, .legacy_link{margin-left: 57px;}
.last{margin-bottom: 45px !important;}
.input_email{
    padding: 20px 25px;
    border: none;
    width: 45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.1em;
    color: #504F7E;
}
.submit{
    padding-top: 24px;
    padding-bottom: 24px;
    width: 52.5%;
    text-align: center;
    border: none;
    background-color: var(--dark-text);
    font-family: "TTFirs-Medium";
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text);
}
.policy{margin-bottom: 20px;}
.policy, .policy_link{
    font-family: "TTFirs-Regular";
    font-size: 14px;
    line-height: 16px;
    color: var(--footer-link);
    width: 45%;
}
.policy_link{text-decoration: underline;}
.legacy_link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 78.5%;
    color: #504F7E;
    margin-bottom: 10px;
}
.modal-block{
    display: none;
    padding: 30px 30px 30px 68px;
    background: var(--white-text);
    z-index: 5;
    width: 800px;
    position: fixed;
    margin-left: 30%; 
}
.modal-head{    margin-bottom: 50px;}
.modal-title{
    font-family: "TTFirs-Medium";
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--black-text);
    margin-bottom: 35px;
    text-align: center;
}
.modal-item{
    font-family: "TTFirs-Medium";
    font-size: 20px;
    line-height: 130%;
    color: var(--black-text);
}
.modal-form{display: grid;}
.modal-input{
    width: 290px;
    margin: 0 auto;
    border: none;
    padding: 15px 0;
    border-bottom: 1px solid #C9CAD5;
    font-family: "TTFirs-Medium";
    font-size: 18px;
    line-height: 20px;
}
.modal-close{cursor: pointer; float: right;}
.modal-item::marker{font-size: 10px;}
.modal-item{margin-left: 25px;}
.modal-item:last-child{margin-bottom: 25px;}
#overlay {
    z-index:3; 
    position:fixed; 
    background-color:#000; 
    opacity:0.8; 
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%; 
    top:0; 
    left:0;
    cursor:pointer;
    display:none; 
}
.password{margin-bottom: 63px;}
.check{margin-bottom: 15px;}
.modal-form input[type="checkbox"] {   display: none;  }
.modal-form  label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #181738;
    opacity: 0.4;
}
.modal-form  label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #C9CAD5;
    box-sizing: border-box;
    border-radius: 3px;
    border-image: initial;
    vertical-align: middle;
}
.modal-form  input:checked + label:before {
    content: url("../img/check.svg");
}
.modal-form  input:disabled + label:before {
    background: #eee;
    color: #aaa;
}
.modal-form  input[type="checkbox"] {
    display: none;
}
.form-btn{
    padding: 21px 0;
    text-align: center;
    width: 318px;
    background-color: var(--primary-blue);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-text);
    border: none;
    margin-top: 40px;
}
.innovations-block{
    background:url("../img/innovation_bg.png") right top, radial-gradient(109.58% 49.72% at 58.46% 40.23%, #1053FF 0%, rgba(16, 83, 255, 0.33) 49.01%, rgba(16, 83, 255, 0) 100%);
}
.innovators-block{
    background: url("../img/innovator_bg.png") no-repeat bottom center;
    background-size: cover;
}
.add-new{
    padding: 45px 59px;
    border: 1px solid #D2D6E3;
    box-sizing: border-box;
    font-family: "TTFirs-Regular";
    font-size: 28px;
    line-height: 100%;
    color: var(--white-text);
    text-align: center;
    margin-left: 40%;
}
.innovations .main-title{
    font-family: "TTFirs-Regular";
    font-weight: normal;
    font-size: 95px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    max-width: 100%;
    margin-top: 125px;
}
.work_top_block, .work_bottom_block{display: flex;flex-wrap: nowrap; height: 100vh;}
.work_top_left_block, .work_bottom_right_block, .work_top_top_block, .work_top_bottom_block, .work_bottom_top_block, .work_bottom_bottom_block{
    display: flex;
    flex-wrap: wrap;
}
.work_top_left_block div {width: 33.05vw; height: 50vh; }
.top_left_img{height: 50vh; width: 33vw;}
.work_top_right_block{
    background-image: url("../img/img3.jpg");
    background-repeat: no-repeat;
    width: 33vw;
    background-size: cover;
    background-position: center;
}
.top_left_step1{
    background-image: url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.top_left_step2{
    background-image: url("../img/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.step1 .number{position: absolute; margin: 85px 0 10px 83px;}
.step2 .number{position: absolute; margin: 85px 0 25px 33px;}
.step1 .name-block{ margin: 155px 75px 28px 83px;}
.step2 .name-block{ margin: 155px 16px 28px 33px;}
.step1 .descript-block{ margin-left: 83px; margin-right: 73px;}
.step2 .descript-block{ margin-left: 33px; margin-right: 97px;}
.step3 .number, .step4 .number{position: absolute; margin: 85px 0 10px 83px;}
.step3 .name-block, .step4 .name-block{ margin: 155px 75px 28px 83px;}
.step3 .descript-block, .step4 .descript-block{ margin-left: 83px; margin-right: 73px;}
.number{
    font-family: "TTFirs-Bold";
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color:var(--primary-pink);
}
.name-block{
    font-family: TTFirs-Bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-gray);
}
.descript-block{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #818CB3;
}
.work_bottom_right_block{
    background-image: url("../img/img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 66.09vw;
}
.work_top_top_block, .work_top_bottom_block, .work_bottom_top_block, .work_bottom_bottom_block{height: 50vh;}
.work_top_top_block .step1, .work_bottom_top_block .step3, .work_bottom_bottom_block .step4, .bottom_bottom_step4, .top_bottom_step2{width: 33vw;}
.work_top_bottom_block .step2 p, .work_top_bottom_block .step2 span{
    margin-left: 87px;
    width: 486px;
}
.top_top_step1{
    width: 66vw;
    background:url("../img/img11.jpg") no-repeat center;
    background-size: cover;
}
.top_bottom_step2{
    background: url("../img/img22.jpg") no-repeat center;
    background-size: cover;
}
.bottom_top_step3{
    width: 66vw;
    background:url("../img/img33.jpg") no-repeat center;
    background-size: cover;
}
.bottom_bottom_step4{
    background:url("../img/img44.jpg") no-repeat center top;
    background-size: cover;
}
.work_bottom_left_block{width: 33vw; display: flex; flex-wrap: wrap;}
.step3, .step4{height: 50vh;}
.interest-block{    background-color: var(--primary-pink);}
.question{
    font-family: "TTFirs-Medium";
    font-size: 40px;
    line-height: 100%;
    color: var(--primary-gray);
    margin: 111px 88px 88px 88px;
}
.ask{
    padding: 13px 32px;
    margin-left: 88px;
    background-color: var(--primary-pink);
    border: 1px solid var(--primary-gray);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-text);
}
.innovator-title{width: 55%;}
.innovator-work{
    background: url("../img/innovator_bg2.png") no-repeat center 75%;
}
.innovator_work_bottom_block{border-top: 0.5px solid rgba(109, 108, 108, 0.61);}

@media(min-width:2048px){
    .header {margin-bottom: 300px;}
    .header-body {height: 230px;}
    .logos img {height: 100px;}
    .personal { padding: 110px 55px; }
    .tasks {padding: 110px 50px;}
    .link-item { font-size: 18px;}
    .main-title {
        font-size: 120px;
        line-height: 126px;
        letter-spacing: 0.1em;
        max-width: 847px;
        margin-bottom: 40px;
    }
    .description {font-size: 40px;}
    .add-solution { padding: 45px; }
    .open-research {padding: 45px 88px;}
    .add-solution, .open-research { font-size: 25px;}
    .innovations-block, .innovators-block {   height: 80vh;   }
    .work_top_left_block div {   width: 33.5vw;  }
    .number {font-size: 100px;}
    .name-block {font-size: 49px;}
    .descript-block { font-size: 27px;}
    .step1 .number {margin: 110px 0 10px 83px; }
    .step1 .name-block { margin: 264px 75px 28px 83px;  }
    .step2 .number { margin: 110px 0 25px 33px; }
    .step2 .name-block { margin: 264px 16px 28px 33px;  }
    .step3 .number, .step4 .number {margin: 142px 0 10px 83px;  }
    .step3 .name-block, .step4 .name-block { margin: 290px 75px 28px 83px; }
    .top_left_img {width: 33.33vw; }
    .work_bottom_right_block {width: 67vw;}
    .work_bottom_left_block { width: 33.5vw; }
    .contact { width: 33.4vw;}
    .footer_menu { width: 33.5vw; }
    .question { font-size: 71px;}
    .ask {    padding: 30px 73px;    font-size: 29px;}
}