@import "colors.css";
@import "fonts.css";

*{margin: 0;padding: 0;}
body{background-color: var(--bg-color);}
ul{list-style: none;}
a{text-decoration: none;}
.title{
    font-family: "TTFirs-Regular";
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-text);
    margin-bottom: 61px;
}
.main-block{
    height: 100vh;
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-body, .menu, .filter, .solutions{display: flex; align-items: center; justify-content: space-between;}
.header{margin-left: 68px; margin-bottom: 185px;}
.header-body{height: 126px;}
.logos img{height: 60px;}
.agency-mos{margin-left: 40px;}
.link-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.tasks{
    padding: 55px 27px;
    background-color: var(--primary-gray);
    color:var(--blue-text);
}
.personal{
    padding: 55px 49px;
    background-color: var(--primary-pink);
    color: var(--white-text);
}
ul.ssubmenuu {
    position: absolute;
    width: 126px;
    top: 126px;
    right:0px;    display: none;
    background-color: #B1B6C9;
    text-align: center;
    width: 208px;
}
ul.ssubmenuu li{
    padding-top: 15px;
    padding-bottom: 15px;
}
ul.ssubmenuu li a{color: var(--black-text);}
ul.ssubmenuu li:hover{
    background-color: var(--primary-pink);
    cursor:pointer;
}
.menu li:hover ul.ssubmenuu {display: block;}
.container{margin-left: 68px; margin-right: 68px;}
.main-title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-text);
    max-width: 480px;
    margin-bottom: 20px;
}
.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    color: var(--white-text);
    max-width: 600px;
    margin-bottom: 130px;
}
.add-solution, .open-research{
    color: #E6E9F3;
    font-family: "TTFirs-Medium";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.add-solution{
    padding: 28px;
    background-color: var(--primary-pink);
    margin-right: 30px;
}
.open-research{
    padding: 28px 88px;
    background-color: var(--primary-blue);
}
.filter{
    max-width: 832px;
    background-color: var(--primary-gray);
    border-radius: 7px;
    padding: 20px 57px;
    margin-bottom: 40px;
}
.filter-item{display: flex; align-items: center;}
.filter-name{
    font-family: "TTFirs-Bold";
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-text);
    margin-left: 14px;
}
.solutions{ flex-wrap: wrap;}
.solution_item{
    padding: 45px 37px;
    width: 32%;
    background-color: #fff;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    margin-right: 32px;
    margin-bottom: 32px;
}
.solution_item:hover{
    background-color: var(--primary-gray);
    cursor: pointer;
}
.solution_item:hover .add_btn{background-color: var(--primary-gray);}
.solution_item:last-child, .solution_item:nth-child(3){margin-right: 0;}
.logo_item{margin-bottom: 35px;}
.date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--type-color);
    margin-bottom: 5px;
}
.title_item{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
    color: var(--dark-text);
    margin-bottom: 15px;
}
.description_item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-text);
    margin-bottom: 30px;
}
.type_item{
    padding: 4px 8px;
    background-color: var(--type-color);
    color: var(--white-text);
    font-family: "TTFirs-Medium";
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 15px;
    border-radius: 3px;
    width: fit-content;
}
.add_btn{
    font-family: "TTFirs-Medium";
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--black-text);
    border: 1px solid var(--primary-pink);
    margin-top: 21px;
    padding: 17px 20px;
}
.more{
    font-family: "TTFirs-Bold";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--primary-pink);
    margin-top: 50px;
    margin-bottom: 100px;
}
.about{margin-top: 100px;}
.title-feedback{
    font-family: "TTFirs-Medium";
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-gray);
    width: 380px;
}
.customers, .companies, .slide, .faq-block, .news, .footer{display: flex !important;}
.customers, .companies{
    padding-top: 35px; padding-bottom: 50px; 
    border-top: 1px solid #40405D; border-bottom: 1px solid #40405D;
    justify-content: space-between;
}
.rev_slider, .faq_list, .news_list{width: 80%;}
.slide{margin-bottom: 30px;}
.avatar{border-radius: 7px; margin-right: 23px;}
.name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-text);
    margin-bottom: 12px;
}
.organization{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: var(--type-color);
    margin-bottom: 19px;
}
.text-back{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-text);
    margin-bottom: 10px;
}
.slick-dots{text-align: left;}
.slick-dots li button::before{font-size: 15px; color: var(--type-color);}
.slick-dots li.slick-active button::before{color: var(--primary-pink);}
.slick-prev, .slick-next{display: none !important;}
.faq, .media_about_us{margin-top: 100px;}
.faq-block, .news{justify-content: space-between;}
.faq_img, .news_icon{height: 200px;}
.hide,
.faq_item div {   display: none;}
.faq-name {
    font-family: TTFirs-Medium;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 30px;
    padding-bottom: 36px;
    color: var(--primary-gray);
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.faq_item{   border-bottom: 1px solid #75768D;}
.hide:checked + label + div {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: var(--type-color);
    display: block; 
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 45px;
}
.hide + .faq-name::before {
    content: url("../img/arrow_bottom.svg");
    display: block;
    float: right;
    margin: 3px 5px;
}
.hide:checked + label:before {
    content: url("../img/arrow_top.svg");;
}
.media_about_us{margin-bottom: 100px;}
.news-title{
    font-family: "TTFirs-Bold";
    font-size: 32px;
    line-height: 120%;
    color: var(--primary-gray);
    margin-bottom: 25px;
}
.news-descript{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: var(--type-color);
    margin-bottom: 25px;
}
.go-btn{
    font-family: TTFirs-Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: var(--primary-pink);
    margin-bottom: 25px;
}
.news_item{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(226,229,239,0.20);
}
.contact{
    display: grid;
    padding: 41px 104px 50px 68px;
    background-color: var(--footer-bg);
}
.footer_logo{margin-bottom: 39px;}
.email, .phone, .adress{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: var(--primary-gray);
    margin-bottom: 15px;
}
.copyright{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #73758D;
}
.footer_info{
    padding: 36px 68px 56px 57px;
    display: flex;
    justify-content: space-between;
    background-color: var(--footer-info-bg);
    width: 100%;
}
.footer_form{
    display: grid;
    max-width: 50%;
}
.footer_link, .form-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #504F7E;
    margin-bottom: 10px;
}
.footer_item_link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #504F7E;
    margin-bottom: 5px;
}
.footer_list{margin-bottom: 35px;}
.input_email{
    padding: 20px 25px;
    border: none;
    width: 45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.1em;
    color: #504F7E;
}
.submit{
    padding-top: 24px;
    padding-bottom: 24px;
    width: 52.5%;
    text-align: center;
    border: none;
    background-color: var(--dark-text);
    font-family: "TTFirs-Medium";
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text);
}
.policy{margin-bottom: 20px;}
.policy, .policy_link{
    font-family: "TTFirs-Regular";
    font-size: 14px;
    line-height: 16px;
    color: var(--footer-link);
    width: 45%;
}
.policy_link{text-decoration: underline;}
.legacy_link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 78.5%;
    color: #504F7E;
    margin-bottom: 10px;
}